* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 90%;
    max-width: 850px;
}

h1 {
    color: #333;
    margin-top: 20px;
}

.controls {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.controls label {
    font-weight: bold;
    color: #555;
    margin-right: 10px;
}

.controls input[type="file"],
.controls select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 150px;
    margin-right: 20px;
}

.controls button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.controls button:hover {
    background-color: #45a049;
}

canvas {
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(212, 15, 15, 0.1);
    width: 100%;
    height: auto;
    max-width: 800px;
    max-height: 600px;
    margin-top: 20px;
}

.result {
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
    text-align: center;
}

.result p {
    margin: 10px 0;
}

.popup {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    pointer-events: none;
}


